@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
  background-color: black;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.header {
  text-align: center;
  padding: 10px;
  min-height: 75px;
}

.header:after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 0px;
  margin: 1px;
}

.harmonylogo {
  margin-right: 5px;

}

.walletbutton {
  background-color: rgb(57, 54, 54);
  color: #00AEE9;
  font-size: small;
  /*font-weight: bold;*/
  text-align: center;
  min-height: 45px;
  min-width: 135px;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  transition-duration: 0.4s;
  float: right;
}

.walletbutton:hover {
  background-color: rgb(70, 65, 65);
  cursor: pointer;
}

.walletbutton:active {
  background-color: rgb(108, 99, 99);
  border-color: rgb(70, 65, 65);
}

.wallet-banner {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.loading-text {
  text-align: center;
  font-weight: bold;
}

.wallet-connected {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 10px;
  padding-left: auto;
  padding-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: green;
  background-color: lightgreen;
  border-color: green;
  text-align: center;
}

.connect-wallet {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 10px;
  padding-left: auto;
  padding-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: cadetblue;
  background-color: lightblue;
  text-align: center;

}

.wrong-network {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 10px;
  padding-left: auto;
  padding-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: red;
  background-color: lightcoral;
  text-align: center;

}

.allowances {
  margin: auto;
  width: 95%;
  /*min-height: 300px;*/

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;

}

.grid-item {
  margin: auto;
  padding: 10px;
  color: #69FFC9;
}

.btn {
  background-color: black;
  color: red;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  transition-duration: 0.4s;

}

.btn:hover {
  background-color: rgb(70, 65, 65);
  color: red;
  cursor: pointer;
}

a {
  color: #69FFC9;
  text-decoration: none;
}

a:hover {
  color: #FFB800;
  text-decoration: none;
}

.row {
  margin: auto;
  width: 95%;
  padding: 5px;
  align-content: center;
}
/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.shard-box {
  float: left;
  border: solid;
  border-radius: 5px;
  border-color: black;
  margin: auto;
  min-height: 350px;
  padding: 10px;
  width: 40%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 775px) {
  .shard-box {
    width: 100%;
  }
}

.chart {
  margin: auto;
}

.footer {
  clear: both;
  /*position: relative; */
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(57, 54, 54);
  text-align: center;
  padding: 10px;
  margin: 0%;
  /*position: fixed; */
  /*bottom: 0; */
  height: 40px;
  width: 100%;
  /*width: 100%;*/
  color: #00AEE9;
  /*margin-top: -200%;*/
}

@media screen and (max-width: 775px) {
  .footer {
    position: relative;
  }
}

.social-link:link, .social-link:visited {
  color: #00AEE9;
  cursor: pointer;
}

.social-link:hover, .social-link:active {
  color:  #69FFC9;
  cursor: pointer;
}